// 全局变量
:root {
  --zs-color-default: #ffffff;
  --zs-color-blue: #409eff;
  --zs-color-green: #67c23a;
  --zs-color-gray: #909399;
  --zs-color-yellow: #e6a23c;
  --zs-color-red: #f56c6c;
  --zs-text-color-regular: #606266;
  --zs-border-color: #dcdfe6;
}
